/* Add CSS styling here */

/* body CSS starts--- */
body {
    border: 6px double darkmagenta;
}
/* body CSS ends--- */

/* Header CSS starts--- */
h1 {
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
    background-color: cyan;
    color: darkmagenta;
    font-family: Sofia;
    padding: 15px;
    margin: 75px;
}
/* Header CSS ends--- */
/* Header Nav CSS starts--- */
div.header-nav {
    display: flex;
    justify-content: center;
}

a.button1, a.button3 {
    font-family: Sofia;
    border-radius: 50%;
    font-size: 20px;  
    border: 3px ridge darkmagenta;
    background-color: cyan;
    color: darkmagenta;
    padding: 8px;
    margin: 10px;
}

a.button2, a.button4 {
    font-family: Sofia;
    border-radius: 50%;
    font-size: 20px;
    border: 3px ridge cyan;
    background-color: darkmagenta;
    color: cyan;
    padding: 8px;
    margin: 10px;
}
/* Header Nav CSS ends--- */
/* section body CSS starts--- */
h2 {
    font-family: Sofia;
    font-size: 30px;
    color: cyan;
    background-color: darkmagenta;
    padding: 15px;
    margin: 75px 150px 75px 150px;
    text-align: center;
}

span.bodycontent {
    font-family: Sofia;
    font-size: 22px;
    color: darkmagenta;
    margin: 50px;  
    display: flex;
    justify-content: center; 
}

div.contactinfo {
    display: flex;
    justify-content: center;
    font-family: Sofia;
    font-size: 22px;
    color: darkmagenta;
}

div.email {
    text-align: center;
}

div.email2 {
    text-align: center;
}

div.phone {
    text-align: center;
}

div.address {
    text-align: center;
    margin-bottom: 75px;
}

div.bigimage {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
/* section body CSS ends--- */
/* image CSS starts--- */
div.images {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

div.img {
    width: 20%;
    height: 40%;
    margin-top: 50px;
    flex-grow: 1;
    flex-basis: auto;
}

div.imgtext {
    display: flex;
    justify-content: right;
    flex-flow: row nowrap;
    font-family: Sofia;
    font-size: 18px;
    color: darkmagenta;
    margin-top: 50px;
}

div.projectsbutton {
    display:flex;
    justify-content: flex-end;
    color: cyan;
    font-family: Sofia;
    border-radius: 50%;
    font-size: 20px;
    border: 3px ridge cyan;
    background-color: darkmagenta;
    padding: 15px;
    margin: 20px;
    text-align: center;
}

a.bt {
    color: cyan;
}
/* image CSS ends--- */
/* footer CSS starts--- */
div.contactme {
    display: flex;
    justify-content: center;
    font-family: Sofia;
    border-radius: 50%;
    font-size: 20px;
    border: 3px ridge cyan;
    background-color: darkmagenta;
    color: cyan;
    padding: 8px;
    margin: 10px;
}